<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNOUT ROUTE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
          <div class="logo-container">
            <img class="logo-img" src="https://cdn.discordapp.com/attachments/1008524928242438217/1215459304702877736/file-1fa5XU85J6jtA0ZEzGALY1JW.png?ex=65fcd3b0&is=65ea5eb0&hm=8a97cd07df83fdf45527f794c628b7ba132d6f6ccc2d09876e3892ef05a7afe7&" alt="Snout-Route Logo">
            <div id="logo-text">SNOUT ROUTE</div>
        </div>
        <nav id="user-actions">
        {{#if logged_in}}
            <button class="no-button" id="logout">Logout</button>
        {{else}}
            <a href="/signup" onclick="signUp()">Sign Up</a> |
            <a href="/login" onclick="login()">Login</a>
        {{/if}}
        </nav>
    </header>

    <section id="search-container">
       <div id="search-container-form">
            <p>Unleash Adventure, Where Every Journey is Tail-Waggingly Pawsome!</p>
            <input type="text" placeholder="Search...">
            <input type="submit" value="Search" onclick="search()">
        </div>

        <div id="search-results">
            {{!-- this is assuming an array containing search results --}}
            <h2>Search Results</h2> 
            {{!-- For each item in searchResults, Handlebars generates a list item (<li>) with the content of the current item accessed through this --}}
            <ul>
            {{#each searchResults}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
        </div>
    </section>

    <main class="main-container">
        {{!-- Render hompage --}}
        {{{ body }}}
    </main>

    <footer class="card-footer text-center">
        © 2024 SNOUT ROUTE
    </footer>

     {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
