<title>SNOUT ROUTE</title>

<body>
    <header> 
        {{!-- navigation bar --}}
        <div id="logo">SNOUT ROUTE</div>
        <nav id="user-actions">
            <a href="/your-trips" onclick="your-trips()">Your Trips</a> |
            <a href="/help" onclick="help()">Help</a> |
            {{!-- help would lead to contact page --}}
            <a href="/logout" onclick="logout()">Logout</a> 
        </nav>
    </header>

{{!-- search bar container --}}
    <section id="search-container">
        <p>Unleash Adventure, Where Every Journey is Tail-Waggingly Pawsome!</p>
        <input type="text" placeholder="Search...">
        <input type="submit" value="Search" onclick="search()">
    </section>

{{!-- Leave a review container --}}
    <section id="review-container">
        {{!-- code to leave a review --}}
    </section>

{{!-- Connect Map API imagery --}}
    <section id="map-container">
        {{!-- input code to link map here --}}
    </section> 

    <footer class="card-footer text-center">
        © 2024 SNOUT ROUTE
        <style>
            footer {
                background-color: #333;
                color: #fff;
                padding: 30px;
                display: block;
                justify-content: space-between;
                align-items: center;
            }
        </style>
    </footer>
</body>

</html>