<h1>Login</h1>

    <form class="login-form">
        <label for="email-login">username:</label>
        <input class="form-input" type="text" id="email-login" />
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
       <button class="btn btn-primary" type="submit">login</button> 
    </form>
  </div>    

<script src="./js/login.js"></script>