<h1>Sign Up</h1>
    <form class="signup-form">
        <label for="email">Email:</label>
        <input type="email" id="email-signup" name="email" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username-signup" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password-signup" name="password" required>
        <br>
        <button type="submit">Sign Up</button>
    </form>

    <script src="/js/signup.js"></script>
