
:root {
    --primaryColor: #334455; 
    --secondaryColor: #667788; 
    --backgroundColor: #f0f0f0; /* A light background color for contrast */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor); /* Light background for contrast */
    /* Removing background image for minimalist design */
}


header {
    background-color: var(--primaryColor); /* Use the primary color from the logo */
    color: var(--secondaryColor); /* Use the secondary color for text */
    padding: 20px; /* Reduced padding for a more minimalist design */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(120, 95, 248);
  }
  
  a:hover {
    color: #808aee;
  }

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 60px; /* Slightly larger for emphasis */
    height: auto;
    margin-right: 15px;
}

#logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--secondaryColor); /* Matching the logo's accent color */
}

#user-actions {
    display: flex;
    gap: 10px;
    color: var(--secondaryColor); /* Text color from the logo for consistency */
}

#search-container {
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px #334455;
    font-weight: bolder;
    margin: 50px auto; /* Centering the search container */
    padding: 20px;
    border-radius: 5px; /* Less pronounced border-radius for minimalism */
    background-color: var(--primaryColor); 
    /* Primary color background */
    color: var(--backgroundColor); /* Secondary color text */
    background-image: url('/cat_dog.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    width: 100%; /* Adjust the width of the container */
    height: 600px; /* Adjust height of container*/
    max-width: 100%; /* Set a maximum width for the container */
    max-height: 1000px; /* Set a maximum height for the container */

}

#search-container-form {
    margin-top: 100px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    width: 300px;
    border: 2px solid var(--secondaryColor); /* Accent color border */
    border-radius: 5px; /* Keeping the border-radius minimal */
    font-size: 16px;
}

input[type="submit"] {
    background-color: var(--secondaryColor); /* Secondary color for button */
    color: var(--primaryColor); /* Primary color text for contrast */
    cursor: pointer;
}


footer {
    padding: 20px;
    background-color: var(--primaryColor); /* Primary color background */
    color: var(--secondaryColor); /* Secondary color text */
    display: flex;
    justify-content: space-between;
    align-items: center;
}



